:root {
  --color-black: #111;
  --color-dark-gray: #444;
  --color-light-gray: #ddd;
  --color-white: #fff;
  --color-error: #C73E1D;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}


html {
  --text: var(--color-black);
  --visited: var(--color-dark-gray);
  --bg: var(--color-white);
  background-color: var(--bg);
  font-size: 18px;
}

body {
  line-height: 1.4;
  color: var(--text);
  font-family: ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji";
  font-size: 1rem;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--text);
  color: var(--bg);
}

img {
  display: block;
  max-inline-size: 100%;
  margin: 0 auto;
}

img[width] {
  inline-size: auto;
}

img[width][height] {
  block-size: auto;
}

img[src$=".svg"] {
  inline-size: 100%;
  block-size: auto;
  max-inline-size: none;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 1px;
}

h1,
h2,
h3,
h4 {
  letter-spacing: -0.0125em;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.125;
}

h1,
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: var(--text);
  text-decoration: none;
  border-bottom: 2px dotted;
  transition: border-bottom-color 0.2s;
}

a:hover,
a:focus {
  border-bottom-color: transparent;
}

a:focus {
  outline: 2px dashed;
}

strong {
  font-weight: 700;
}

ul {
  padding-left: 0;
  list-style: none;
}
